archspec==0.2.5
black==26.3.1
certifi==2026.7.22
charset-normalizer==3.5.1
choreographer==1.4.0
click==8.3.1
contourpy==1.4.0
cycler==0.12.1
-e file:///home/mceloria/Documents/ElmerIceEnergy
fastrlock==0.8.3
flake8==7.3.0
fonttools==4.65.0
hpccm==26.1.0
idna==3.20
iniconfig==2.3.0
isort==8.0.1
jinja2==3.1.6
kiwisolver==1.5.1
librt==0.8.1
logistro==2.0.1
markupsafe==3.0.3
matplotlib==3.11.2
mccabe==0.7.0
mypy==1.20.0
mypy-extensions==1.1.0
narwhals==2.26.0
numpy==2.5.3
orjson==3.12.0
packaging==26.3
pandas==2.3.3
pathspec==1.0.4
pillow==12.3.0
platformdirs==4.11.10
plotly==7.1.0
pycodestyle==2.14.0
pyflakes==3.4.0
pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-gitlab==4.13.0
pytokens==0.4.1
pytz==2026.3.post1
requests==2.34.2
requests-toolbelt==1.0.0
simplejson==4.1.2
six==1.17.0
talp-pages==3.6.2
tqdm==4.70.1
typing-extensions==4.15.0
tzdata==2026.4
urllib3==2.8.0
